#layout-default .select-wrapper input.select-dropdown{
	color: #212121;
	border-bottom: 1px solid red !important;
}

#layout-default .datepicker-date-display{ 
	background-color: #ed3237;
}

#layout-default .input-field input, #layout-default select{
	font-weight: 500;
}

#layout-default .input-field label, #layout-default select{
	font-size: 18px;
}

#layout-default .input-field input[type=number], #layout-default .input-field input[type=text], #layout-default .input-field input[type=password], #layout-default .input-field input[type=email]{
	border-bottom: 0.5px solid #ed3237;
	box-shadow: 0 0.5px 0 0 #ed3237;
}

#layout-default .input-field input[type=number]:focus, #layout-default .input-field input[type=text]:focus, #layout-default .input-field input[type=password]:focus , #layout-default .input-field input[type=email]:focus {
	border-bottom: 1px solid #ed3237;
	box-shadow: 0 1px 0 0 #ed3237;
}

.table-tag{
	color: black;
	font-weight: bold;
	text-transform: uppercase;
}